<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
<div class="sidebar-header">
	<img src="images/testng.png" style="width:150px;height:70px;">
</div>
<div class="list-group" style="font-weight:bold">
	<a href="overview.html" target="overview" class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;$messages.getString("overview")&nbsp;</a>
	<a href="#pageSubmenuResults" class="list-group-item" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;$messages.getString("results")&nbsp;</a>
		<ul class="collapse list-unstyled" id="pageSubmenuResults">
			<a href="suites.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("suiteResults")&nbsp;</a>
			<a href="suites_overview.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("testResults")&nbsp;</a>
			<a href="packages.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("packages")&nbsp;</a>
			<a href="groupsresults.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("groupsResults")&nbsp;</a>
        </ul>
    <a href="#pageSubmenuIssues" class="list-group-item" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;$messages.getString("issues")&nbsp;</a>
		<ul class="collapse list-unstyled" id="pageSubmenuIssues">
			<a href="newIssues.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("newIssues")&nbsp;($utils.issues($suites).getNewIssuesAmount())&nbsp;</a>
        	#if ($utils.knownDefectMode())
        		<a href="knownIssues.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("knownIssues")&nbsp; ($utils.issues($suites).getKnownIssuesAmount())&nbsp;</a>
        		<a href="fixedIssues.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("fixedIssues")&nbsp; ($utils.issues($suites).getFixedIssuesAmount())&nbsp;</a>
        	#end
        </ul>
          
	<a href="#pageSubmenuFeatures" class="list-group-item" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;$messages.getString("features")&nbsp;</a>
		<ul class="collapse list-unstyled" id="pageSubmenuFeatures">
			<a href="regression.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("regression")&nbsp; ($utils.issues($suites).getFeature().size())&nbsp;</a>
        	#if ($utils.hasNewFeatures($suites))  
        		<a href="newFeatures.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("newFeatures")&nbsp; ($utils.issues($suites).getNewFeature().size())&nbsp;</a>
        	#end
        </ul>
    
    <a href="runArguments.html" target="overview" class="list-group-item"><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;$messages.getString("runArguments")&nbsp;</a>
    <a href="#pageSubmenu" class="list-group-item" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-equalizer"></span>&nbsp;&nbsp;$messages.getString("graphs")&nbsp;</a>
		<ul class="collapse list-unstyled" id="pageSubmenu">
			<a href="graphsTime.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("testResults")&nbsp;</a>
        	<a href="graphsRClass.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("classResults")&nbsp;</a>
        	<a href="graphsRSuite.html" class="list-group-item" target="overview">&nbsp;&nbsp;&nbsp;$messages.getString("suiteResults")&nbsp;</a>
        </ul>
	<a href="output.html" target="overview" class="list-group-item"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;$messages.getString("reportOutputMenu")&nbsp;</a>
	$utils.getExternalLinks();
</div>
</body>
</html>