<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/canvasjs.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/reportng.css" />
</head>
<body>
<h3 class="failTitle">$messages.getString("newIssues")</h3>
<div>
	<div class="well well-large">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" width="300px;">$messages.getString("issues")</th>
					<th scope="col" width="300px;">$messages.getString("suiteName")</th>
					<th scope="col" width="300px;">$messages.getString("testName")</th>
				  	<th scope="col" width="300px;">$messages.getString("testClass")</th>
				  	<th scope="col" width="300px;">$messages.getString("regression")</th>
				</tr>
			</thead>
			<tbody>
				$utils.getIssues($utils.issues($suites).getNewIssues())
			</tbody>
		</table>
	</div>
</div>	
</body>
</html>