<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/canvasjs.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/reportng.css" rel="stylesheet" />
</head>
<body>
<h3 class="normal">$messages.getString("regression")</h3>	
<div>	
	<div class="well well-large">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" width="300px;">$messages.getString("featureDescription")</th>
					<th scope="col" width="300px;">$messages.getString("suiteName")</th>
					<th scope="col" width="300px;">$messages.getString("testName")</th>
				  	<th scope="col" width="300px;" class="break-word">$messages.getString("testClass")</th>
				  	<th scope="col" width="300px;">$messages.getString("results")</th>
				  	<th scope="col" width="300px;">$messages.getString("status")</th>
				</tr>
			</thead>
			<tbody>
				$utils.getFeatures($utils.issues($suites).getFeature())
			</tbody>
		</table>
	</div>
</div>
</body>
</html>