<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/reportng.css" />
</head>
<body>
<h3 class="normal">$messages.getString("runArguments")</h3>
<div class="well well-large">
<table class="table table-bordered">
	<thead>
   		<tr class="columnHeadings">
    		<th class="header">#</th>
	    	<th class="header"></th>
  		</tr>
  	</thead>
  	$utils.runArguments($suites)
</table>
$meta.arguments
</body>
</html>